{% extends "partials/master.html" %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "homepage" %}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        
        <div class="col col-lg-12">
            <div class="card">
            <div class="card-body">
            <div class="card-header">
              <h5 class="card-title">{{ wards.first.town.name }} ဟိ ရပ်ကွက်စာရင်း (စုစုပေါင်း ရပ်ကွက် {{ wards.count }} ခု)</h5>
            </div>
              

              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">စဥ်</th>
                    <th scope="col">ရပ်ကွက် နာမည်</th>
                    <th scope="col">စာသင်ကျောင်း</th>
                    <th scope="col">ဘုန်းကြီးကျောင်း</th>
                    <th scope="col">အိမ်</th>
                    
                    <th scope="col">အပြင်အဆင်များ</th>
                    
                  </tr>
                </thead>
                <tbody>
                
                    {% for ward in wards %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ ward.name }}</td>
                      <td>{{ ward.schools }}</td>
                      <td>{{ ward.monestaries }}</td>
                      <td>{{ ward.houses }}</td>
                      
                      
                      
                      <td>
                          <a href="" class="btn btn-success"> <i class="ri ri-edit-box-fill"></i></a>
                          <a href="" class="btn btn-primary"> <i class="ri ri-eye-fill"></i></a>
                          <a href="" class="btn btn-danger"> <i class="ri ri-delete-bin-2-line"></i></a>

                      </td>
                    </tr>
                    
                    {% endfor %}
                  </tbody>
                </table>
                  <a href="" class="btn btn-primary btn-lg">ရပ်ကွက် အသစ် ပေါင်းထည့်ပါ</a>
                <!-- End Default Table Example -->
              </div>
              </div>
          </div>
      </div>
    </section>
  
  </main><!-- End #main -->
  {% endblock content %}
                
                      
                    
                    
                
                  
                
               
                


     
        
        
    

        
