{% extends "partials/master.html" %} 
{% load crispy_forms_tags %} 
{% block content %}

{% if page == 'create_town' %}
<main id="main" class="main">
    <section class="section dashboard">
        <div class="row">
      

            <div class="col col-md-3"></div>

                <div class="col col-md-6">
                    <div class="card">
                        <div class="card-header">
                          <p class='text-center'>မြို့အသစ် ထည့်ရန်</p>
                        </div>
                        <div class="card-body">
                           <form method="POST">
                                    {% csrf_token %}
                                    
                                        {{ form.name|as_crispy_field }}
                                        {{ form.township|as_crispy_field }}
                                        
                                        <div class="text-center">
                                                <button type="submit" class="btn btn-primary">သိမ်းဆည်းမည်</button>
                                                <button type="reset" class="btn btn-danger" onclick='history.back()'>မသိမ်းပါ</button>
                                        </div>
                            </form>
                        </div>

                        
                               
                    </div>
                </div>
            <div class="col col-md-3"></div>
        </div>
    </section>
</main>
            
{% elif page == 'update_town' %}
      <main id="main" class="main">
        <section class="section dashboard">
        <div class="row">
            <div class="col col-md-3"></div>
      
                <div class="col col-md-6">
                    <div class="card">
                      <div class="card-header">
                          <p class='text-center'>"{{ town.name }}" ကို ပြုပြင်ရန်</p>
                      </div>
                        <div class="card-body">
                          <form method="POST">
                              {% csrf_token %}
                              {{form.name|as_crispy_field}}
                              {{form.township|as_crispy_field}}
                              
                              <button type="submit" class="btn btn-primary">ပြုပြင်ရန်</button>
                              <button type="reset" class="btn btn-danger" onclick='history.back()'>မပြုပြင်ပါ</button>
                          
                          </form>
                    </div>
                </div>
            </div>
        
        
            <div class="col col-md-3"></div>
        </div>
            
        </section>
      </main>

{% elif page == 'delete_town' %}
      <main id="main" class="main">
        <section class="section dashboard">
        <div class="row mt-5">
            <div class="col col-md-3"></div>
      
                <div class="col col-md-6">
                    <form method="POST">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header">
                            <p class=''>"{{ town.name }}" ကို ဖျက်ရန်</p>
                        </div>

                        
                        <div class="card-body">
                            <h6 class='text-center mt-5'>"{{ town.name }}" ကို ဖျက်ဖို့သေချာလား။</h6>
                        </div>

                        <div class="card-footer">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-danger me-md-2" type="submit">ဖျက်မည်</button>
                                <button class="btn btn-success" type="button" onclick='history.back()'>မဖျက်ပါ</button>
                            </div>
                        </div>
                    </form>
                        
                </div>
            </div>
        
        
            <div class="col col-md-3"></div>
        </div>
            
        </section>
      </main>
{% endif %}
{% endblock content %}
      
                              
      
                              
      
                              

            
            

            
            

            
            

           
            

            
            
                  


