{% extends "partials/master.html" %} 
{% load crispy_forms_tags %} 
{% block content %}

<main id="main" class="main">
  <section class="section dashboard">
    <div class="row">
      

      <div class="col col-md-3"></div>

      <div class="col col-md-6">
        <h1>Create Village Form</h1>
        <form method="POST">
            {% csrf_token %}
            <div>
                {{ form.township|as_crispy_field }}
            </div>

            <div>
                {{ form.schools|as_crispy_field }}
            </div>

            <div>
                {{ form.houses|as_crispy_field }}
            </div>

            <div>
                {{ form.populations|as_crispy_field }}
            </div>

            <div>
                {{ form.monestaries|as_crispy_field }}
            </div>

            <div>
                {{ form.name|as_crispy_field }}
            </div>
                  

          <div class="text-center">
                  <button type="submit" class="btn btn-primary">သိမ်းဆည်းမည်</button>
                  <button type="reset" class="btn btn-danger">မသိမ်းပါ</button>
          </div>
        </form>
      </div>
      <div class="col col-md-3"></div>
    </div>
  </section>
</main>
{% endblock content %}
